.menuContainer {
  margin: 0;
  padding: 0;
}
.menuContents {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 5rem 2rem 0;
  z-index: 20;
  text-align: center;
  color: #000;
  background-color: #d1d5db;
  opacity: 0;
  visibility: hidden;
  transition: opacity linear 300ms, visibility linear 300ms;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.openMenu {
  .menuContents {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
}

.buttonContainer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  @media screen and (min-width: 1024px) {
    right: 8rem;
  }
}

.meat {
  position: absolute;
  top: calc(50% - 2px / 2);
  right: calc(50% - 2rem / 2);
  width: 2rem;
  height: 4px;
  background: #bae6fd;
  border-radius: 4px;
  transition: transform ease-in-out 300ms, color linear 300ms;
  @media screen and (min-width: 1024px) {
    top: calc(50% - 2px / 2);
    right: calc(50% - 2.5rem / 2);
    width: 2.5rem;
  }
}

.meat1 {
  transform: translateY(-12px);
  @media screen and (min-width: 1024px) {
    transform: translateY(-13.5px);
  }
}
.meat2 {
  width: translateY(12px);
}
.meat3 {
  transform: translateY(12px);
  @media screen and (min-width: 1024px) {
    transform: translateY(13.5px);
  }
}

.openMenu {
  .meat {
    background: #0ea5e9;
  }
  .meat1 {
    transform: rotate(45deg);
  }
  .meat2 {
    opacity: 0;
  }
  .meat3 {
    transform: rotate(-45deg);
  }
}
